body {
    margin: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

#container {
    display: flex;
}

#harjoitukset {
    flex: 1;
    padding: 2%;
}

h3 {
    padding-top: 10px;
}

#otsikko {
    text-align: center;
}

#tietoa {
    flex: 1;
    padding: 2%;
}
