body {
    margin: 50px;
}

a {
        background-color:  rgb(56, 56, 141);
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white; 
        color: black; 
        border: 2px solid rgb(56, 56, 141);
        border-radius: 4px;
        width: 10vw;
}
a:hover {
    background-color: rgb(56, 56, 141);
    color: white;
}

#palautukset {
    display: flex;
}

#demot {
    flex: 0;
    padding: 2%;
}

#harjoitukset {
    flex: 1;
    padding: 2%;
}