* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 100%;

}

header {
    height: 12%;
    flex: 100%;
    background: blue;
}

nav {
    height: 5%;
    flex: 100%;
    background: teal;

}

article {
    height: 78%;
    flex: 58.33333%;
    background: thistle;

}
figure {
    height: 78%;
    flex: 25%;
    background: violet;
}

aside {
    height: 78%;
    flex: 16.666666%;
    background: tomato;
}

footer {
    height: 5%;
    flex: 100%;
    background: turquoise;
}

@media screen and (max-width: 768px)
    {
        div.container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            max-height: 100vh;
        
        }
        
        header {
            height: 8%;
            flex: 100%;
            background: blue;
        }
        
        nav {
            height: 4%;
            flex: 100%;
            background: teal;
        
        }
        
        article {
            height: 69%;
            flex: 58.33333%;
            background: thistle;
        
        }
        figure {
            height: 69%;
            flex: 25%;
            background: violet;
        }
        
        aside {
            height: 15%;
            flex: 100%;
            background: tomato;
        }
        
        footer {
            height: 4%;
            flex: 100%;
            background: turquoise;
        }
    }

    @media screen and (max-width: 512px)
    {
        div.container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            max-height: 100vh;
        
        }
        
        header {
            height: 10%;
            flex: 100%;
            background: blue;
        }
        
        nav {
            height: 5%;
            flex: 100%;
            background: teal;
        
        }
        
        article {
            height: 80%;
            flex: 100%;
            background: thistle;
        
        }
        figure {
            height: 69%;
            flex: 25%;
            background: violet;
            display: none;
        }
        
        aside {
            height: 15%;
            flex: 100%;
            background: tomato;
            display: none;
        }
        
        footer {
            height: 5%;
            flex: 100%;
            background: turquoise;
        }
    }

    @media screen and (max-width: 375px)
    {
        div.container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            max-height: 100vh;
        
        }
        
        header {
            height: 15%;
            flex: 100%;
            background: blue;
        }
        
        nav {
            height: 10%;
            flex: 100%;
            background: teal;
        
        }
        
        article {
            height: 75%;
            flex: 100%;
            background: thistle;
            
        
        }
        figure {
            height: 69%;
            flex: 25%;
            background: violet;
            display: none;
        }
        
        aside {
            height: 15%;
            flex: 100%;
            background: tomato;
            display: none;
        }
        
        footer {
            height: 4%;
            flex: 100%;
            background: turquoise;
            display: none;
        }
    }